body {
  background: rgba(0, 0, 0, 0.89);
  color: #c1d5b2;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
